<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hqins.dao.UserDao" >
    <resultMap id="BaseResultMap" type="com.hqins.mapper.User" >
        <id column="id" property="userId"  />
        <result column="user_name" property="userName" />
    </resultMap>
    <select id="findAllUsers"  resultMap ="BaseResultMap" >
        select id,user_name from user;
    </select>
    <select id="findUser"  parameterType="java.lang.Integer" resultType="java.lang.String">
        select user_name from user where id = #{id};
    </select>
    <update id="updateUsername">
        update user
        <set>
            <if test ="username != null"> user_name=#{username}</if>
        </set>
        where id=#{id}
    </update>
    <select id="findRandUsers" resultMap="BaseResultMap">
        select id,user_name from user
        where id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getUserDescription" parameterType="com.hqins.mapper.User" resultType="java.lang.String">
        select description from user
        where id=#{user.userId}

    </select>

</mapper>